body {
    background-color:tan;
        margin: auto;
        width: 30%;
        border: 5px solid green;
        padding: 10px;
      }
h1{
    text-align:center;
    color:green;
}
div{
    text-align:center;
}

button{
    background-color: #008CBA;
}
